<ng-container *ngIf="vm$ | async as vm">
  <div class="grid grid-cols-4 gap-4 pt-2">
    <mat-card *ngFor="let post of vm.posts">
      <mat-card-title class="truncate text-pink-700">
        {{ post.title }}
      </mat-card-title>

      <mat-divider></mat-divider>

      <mat-card-content class="h-48 py-2">
        {{ post.body }}
      </mat-card-content>

      <mat-divider></mat-divider>

      <mat-card-actions align="end">
        <button
          mat-button
          class="focus:outline-none"
          color="primary"
          [disabled]="vm.disableAdd"
          [matMenuTriggerFor]="menu"
          [matMenuTriggerData]="{ postId: post.id }"
        >
          Add to collections
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <mat-menu #menu="matMenu" xPosition="before">
    <ng-template matMenuContent let-postId="postId">
      <button
        mat-menu-item
        *ngFor="let collection of vm.collections"
        class="focus:outline-none"
        (click)="onAddPostToCollection(postId, collection.id)"
      >
        {{ collection.name }}
      </button>
    </ng-template>
  </mat-menu>
</ng-container>
