<nav>
  <app-navbar>
    <span app-label>NgRx Sharing</span>
  </app-navbar>
</nav>

<ng-container *ngIf="vm$ | async as vm">
  <mat-sidenav-container style="top: 56px">
    <mat-sidenav
      mode="side"
      opened
      fixedInViewport
      [fixedTopGap]="56"
      class="w-64 sidenav-shadow"
    >
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content class="px-8">
      <app-post-list
        [posts]="vm.posts"
        [collections]="vm.collections"
        (selectPost)="onSelectPost($event)"
        (addToCollection)="onAddToCollection($event)"
      ></app-post-list>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
