<ng-container *ngIf="state.vm$ | async as vm">
  <div class="flex py-3 px-8 justify-between items-center bg-gray-800 shadow-sm fixed w-full top-0 z-10">
    <section class="flex items-center">
      <span
        class="text-pink-600 flex items-center justify-center text-xl font-semibold"
      >
        <ng-content select="[app-label]"></ng-content>
      </span>
    </section>
    <section class="flex justify-center items-center">
      <button class="mr-4 focus:outline-none flex items-center" (click)="onAddCollection()">
        <mat-icon svgIcon="add"></mat-icon>
      </button>
      <button class="focus:outline-none flex items-center"
        (click)="onToggleUserMenu()"
        cdkOverlayOrigin
        #userMenu="cdkOverlayOrigin"
      >
        <span
          class="h-8 w-8 rounded-full text-pink-700 bg-white border-2 border-gray-400 flex items-center justify-center text-xs"
          data-testid="avatar"
        >
          {{ vm.me | userAvatar:'NA' | uppercase }}
        </span>
      </button>
    </section>
  </div>
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="userMenu"
    [cdkConnectedOverlayOpen]="vm.isOpenUserMenu"
    [cdkConnectedOverlayOffsetY]="8"
    (overlayOutsideClick)="onOverlayOutsideClick($event)"
  >
    <section class="flex flex-col rounded-lg bg-gray-800 w-48 border border-gray-900">
      <div class="p-3 text-gray-200 flex flex-col border-b border-gray-900">
        <span>Signed in as</span>
        <span class="font-semibold text-gray-100">{{ vm.me.email }}</span>
      </div>

      <ul class="py-3 text-gray-200 flex flex-col">
        <li class="px-3 py-1 cursor-pointer hover:bg-blue-400" (click)="onLogout()">Logout</li>
      </ul>
    </section>
  </ng-template>
</ng-container>


